
*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
}

@media screen and (max-width: 480px) {
    header h1 {
        font-style: italic;
    }
}


:root,html
body {
    height: 100%;
    background-color: yellowgreen;
    
}
#add-img {
    width: 5rem;
    height: 5rem;  
}
main{
    height:60%;
    background-color: yellow;
}
html {
    box-sizing: border-box;
    font-size: calc(1rem + (3) * ((100vw - 300px) / (1080 - 300)));
}


input[type=checkbox] {
    width: 0;
    height: 0;
    opacity: 0;
}

input[type=checkbox] + label {
    position: relative;
}

input[type=checkbox] + label::before {
    content: '';
    position: absolute;
    top: 0.1em;
    left: -1.5em;
    width: 1em;
    height: .75em;
    border: thin solid lightgray;
    margin-right: 1em;
    padding: 0 .1em 1.1em .1em;
}

input[type=checkbox]:focus + label::before {
    outline: rgb(59, 153, 252) solid 0.1em;
}

input[type=checkbox]:checked + label::before {
    content: '🗸';
}

input[type="text"]{
    border: 1px solid #000;
}
    
    

    header h1 {
        font-size: 3.5rem;
        text-align: center  ;
        text-decoration-color: blue;
         
        background-color: chocolate;
      
    }
    #listForm{
        display: flex;
    justify-content: center;
    height: calc(100% - 3rem);
    overflow-x: hidden;
    overflow-y: auto;
    height: 60%;
    background-color: plum;
    }
    #addForm
    {
    display: flex;
    height: 6em;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.1em solid black;
    background-color: cyan;

    }
    
   
    #todo-myList{
    display: grid;
    grid-template-columns: max-content;
    grid-auto-rows: max-content;
    height: 100%;
    font-size: 1.3rem;
    list-style: none;
    list-style-position: inside;
    }
    #todo-myList > li{
        height: 3em;
        

    }
    /* Footer */
footer {
    border-top: 0.1em solid black;
    text-align: center;
}

.list{
    /* animation: fade-out 0.5s ease-in 0.1s 1 forwards; */
    animation: fade-out 1s ease-in 2s alternate infinite none; 
    transition-property: width, opacity;
    transition-duration: 1000ms 1000ms;
    
}

.list:hover{
    
    background: rgb(78, 68, 167);
    width: 150%;
    opacity: 0.8;
    transform: rotate(2deg);
    font-family: impact;
}

@keyframes fade-out /* Name */ {
    0% { /* key frame position */
        opacity: 1; /* property */
    }
    100% {
        opacity: 0;
    }
}
